# Regression Predict Student Solution

© Explore Data Science Academy

---
### Honour Code

I {**YOUR NAME, YOUR SURNAME**}, confirm - by submitting this document - that the solutions in this notebook are a result of my own work and that I abide by the [EDSA honour code](https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

### Predict Overview: Spain Electricity Shortfall Challenge

The government of Spain is considering an expansion of it's renewable energy resource infrastructure investments. As such, they require information on the trends and patterns of the countries renewable sources and fossil fuel energy generation. Your company has been awarded the contract to:

- 1. analyse the supplied data;
- 2. identify potential errors in the data and clean the existing data set;
- 3. determine if additional features can be added to enrich the data set;
- 4. build a model that is capable of forecasting the three hourly demand shortfalls;
- 5. evaluate the accuracy of the best machine learning model;
- 6. determine what features were most important in the model’s prediction decision, and
- 7. explain the inner working of the model to a non-technical audience.

Formally the problem statement was given to you, the senior data scientist, by your manager via email reads as follow:

> In this project you are tasked to model the shortfall between the energy generated by means of fossil fuels and various renewable sources - for the country of Spain. The daily shortfall, which will be referred to as the target variable, will be modelled as a function of various city-specific weather features such as `pressure`, `wind speed`, `humidity`, etc. As with all data science projects, the provided features are rarely adequate predictors of the target variable. As such, you are required to perform feature engineering to ensure that you will be able to accurately model Spain's three hourly shortfalls.
 
On top of this, she has provided you with a starter notebook containing vague explanations of what the main outcomes are.

<a id="cont"></a>

## Table of Contents

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Loading Data</a>

<a href=#three>3. Exploratory Data Analysis (EDA)</a>

<a href=#four>4. Data Engineering</a>

<a href=#five>5. Modeling</a>

<a href=#six>6. Model Performance</a>

<a href=#seven>7. Model Explanations</a>

 <a id="one"></a>
## 1. Importing Packages
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Importing Packages ⚡ |
| :--------------------------- |
| In this section you are required to import, and briefly discuss, the libraries that will be used throughout your analysis and modelling. |

---

In [1]:
# Libraries for data loading, data manipulation and data visulisation
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

# Libraries for data preparation and model building
import statsmodels.graphics.api as sga
import statsmodels.formula.api as sfa
from scipy.stats import pearsonr
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import VarianceThreshold
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.ensemble import RandomForestRegressor
import re

# print multiple outputs in a cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [2]:
# function to display all rows in a df
def display_all(df):
    with pd.option_context("display.max_rows", 1000):
        with pd.option_context("display.max_columns", 1000):
            display(df)

<a id="two"></a>
## 2. Loading the Data
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Loading the data ⚡ |
| :--------------------------- |
| In this section you are required to load the data from the `df_train` file into a DataFrame. |

---

In [3]:
df = pd.read_csv('df_train.csv', parse_dates=['time'])
dftest= pd.read_csv('df_test.csv', parse_dates=['time'])

<a id="three"></a>
## 3. Exploratory Data Analysis (EDA)
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Exploratory data analysis ⚡ |
| :--------------------------- |
| In this section, you are required to perform an in-depth analysis of all the variables in the DataFrame. |

---

In [4]:
# Check for summary statistics

df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,8763.0,4381.000000,2529.804538,0.000000,2190.500000,4381.000000,6571.500000,8.762000e+03
Madrid_wind_speed,8763.0,2.425729,1.850371,0.000000,1.000000,2.000000,3.333333,1.300000e+01
Bilbao_rain_1h,8763.0,0.135753,0.374901,0.000000,0.000000,0.000000,0.100000,3.000000e+00
Valencia_wind_speed,8763.0,2.586272,2.411190,0.000000,1.000000,1.666667,3.666667,5.200000e+01
Seville_humidity,8763.0,62.658793,22.621226,8.333333,44.333333,65.666667,82.000000,1.000000e+02
Madrid_humidity,8763.0,57.414717,24.335396,6.333333,36.333333,58.000000,78.666667,1.000000e+02
Bilbao_clouds_all,8763.0,43.469132,32.551044,0.000000,10.000000,45.000000,75.000000,1.000000e+02
Bilbao_wind_speed,8763.0,1.850356,1.695888,0.000000,0.666667,1.000000,2.666667,1.266667e+01
Seville_clouds_all,8763.0,13.714748,24.272482,0.000000,0.000000,0.000000,20.000000,9.733333e+01
Bilbao_wind_deg,8763.0,158.957511,102.056299,0.000000,73.333333,147.000000,234.000000,3.593333e+02
Barcelona_wind_speed,8763.0,2.870497,1.792197,0.000000,1.666667,2.666667,4.000000,1.266667e+01
Barcelona_wind_deg,8763.0,190.544848,89.077337,0.000000,118.166667,200.000000,260.000000,3.600000e+02
Madrid_clouds_all,8763.0,19.473392,28.053660,0.000000,0.000000,0.000000,33.333333,1.000000e+02
Seville_wind_speed,8763.0,2.425045,1.672895,0.000000,1.000000,2.000000,3.333333,1.166667e+01
Barcelona_rain_1h,8763.0,0.128906,0.634730,0.000000,0.000000,0.000000,0.000000,1.200000e+01
Seville_rain_1h,8763.0,0.039439,0.175857,0.000000,0.000000,0.000000,0.000000,3.000000e+00
Bilbao_snow_3h,8763.0,0.031912,0.557264,0.000000,0.000000,0.000000,0.000000,2.130000e+01
Barcelona_pressure,8763.0,1377.964605,14073.140990,670.666667,1014.000000,1018.000000,1022.000000,1.001411e+06
Seville_rain_3h,8763.0,0.000243,0.003660,0.000000,0.000000,0.000000,0.000000,9.333333e-02
Madrid_rain_1h,8763.0,0.037818,0.152639,0.000000,0.000000,0.000000,0.000000,3.000000e+00
Barcelona_rain_3h,8763.0,0.000439,0.003994,0.000000,0.000000,0.000000,0.000000,9.300000e-02
Valencia_snow_3h,8763.0,0.000205,0.011866,0.000000,0.000000,0.000000,0.000000,7.916667e-01
Madrid_weather_id,8763.0,773.527594,77.313315,211.000000,800.000000,800.000000,800.666667,8.040000e+02
Barcelona_weather_id,8763.0,765.979687,88.142235,200.666667,800.000000,800.333333,801.000000,8.040000e+02
Bilbao_pressure,8763.0,1017.739549,10.046124,971.333333,1013.000000,1019.000000,1024.000000,1.042000e+03
Seville_weather_id,8763.0,774.658818,71.940009,200.000000,800.000000,800.000000,800.000000,8.040000e+02
Valencia_pressure,6695.0,1012.051407,9.506214,972.666667,1010.333333,1015.000000,1018.000000,1.021667e+03
Seville_temp_max,8763.0,297.479527,8.875812,272.063000,291.312750,297.101667,304.150000,3.204833e+02
Madrid_pressure,8763.0,1010.316920,22.198555,927.666667,1012.333333,1017.333333,1022.000000,1.038000e+03
Valencia_temp_max,8763.0,291.337233,7.565692,269.888000,285.550167,291.037000,297.248333,3.142633e+02
Valencia_temp,8763.0,290.592152,7.162274,269.888000,285.150000,290.176667,296.056667,3.104267e+02
Bilbao_weather_id,8763.0,724.722362,115.846537,207.333333,700.333333,800.000000,801.666667,8.040000e+02
Seville_temp,8763.0,293.978903,7.920986,272.063000,288.282917,293.323333,299.620333,3.149767e+02
Valencia_humidity,8763.0,65.247727,19.262322,10.333333,51.333333,67.000000,81.333333,1.000000e+02
Valencia_temp_min,8763.0,289.867648,6.907402,269.888000,284.783333,289.550000,294.820000,3.102720e+02
Barcelona_temp_max,8763.0,291.157644,7.273538,272.150000,285.483333,290.150000,296.855000,3.140767e+02
Madrid_temp_max,8763.0,289.540309,9.752047,264.983333,282.150000,288.116177,296.816667,3.144833e+02
Barcelona_temp,8763.0,289.855459,6.528111,270.816667,284.973443,289.416667,294.909000,3.073167e+02
Bilbao_temp_min,8763.0,285.017973,6.705672,264.483333,280.085167,284.816667,289.816667,3.098167e+02
Bilbao_temp,8763.0,286.422929,6.818682,267.483333,281.374167,286.158333,291.034167,3.107100e+02
Barcelona_temp_min,8763.0,288.447422,6.102593,269.483333,284.150000,288.150000,292.966667,3.048167e+02
Bilbao_temp_max,8763.0,287.966027,7.105590,269.063000,282.836776,287.630000,292.483333,3.179667e+02
Seville_temp_min,8763.0,291.633356,8.178220,270.150000,285.816667,290.816667,297.150000,3.148167e+02
Madrid_temp,8763.0,288.419439,9.346796,264.983333,281.404281,287.053333,295.154667,3.131333e+02
Madrid_temp_min,8763.0,287.202203,9.206237,264.983333,280.299167,286.083333,293.884500,3.103833e+02
load_shortfall_3h,8763.0,10673.857612,5218.046404,-6618.000000,7390.333333,11114.666667,14498.166667,3.190400e+04

In [5]:
# look at data statistics
# Checking for missing values

df.isna().sum()

Unnamed: 0                 0
time                       0
Madrid_wind_speed          0
Valencia_wind_deg          0
Bilbao_rain_1h             0
Valencia_wind_speed        0
Seville_humidity           0
Madrid_humidity            0
Bilbao_clouds_all          0
Bilbao_wind_speed          0
Seville_clouds_all         0
Bilbao_wind_deg            0
Barcelona_wind_speed       0
Barcelona_wind_deg         0
Madrid_clouds_all          0
Seville_wind_speed         0
Barcelona_rain_1h          0
Seville_pressure           0
Seville_rain_1h            0
Bilbao_snow_3h             0
Barcelona_pressure         0
Seville_rain_3h            0
Madrid_rain_1h             0
Barcelona_rain_3h          0
Valencia_snow_3h           0
Madrid_weather_id          0
Barcelona_weather_id       0
Bilbao_pressure            0
Seville_weather_id         0
Valencia_pressure       2068
Seville_temp_max           0
Madrid_pressure            0
Valencia_temp_max          0
Valencia_temp              0
Bilbao_weather_id          0
Seville_temp               0
Valencia_humidity          0
Valencia_temp_min          0
Barcelona_temp_max         0
Madrid_temp_max            0
Barcelona_temp             0
Bilbao_temp_min            0
Bilbao_temp                0
Barcelona_temp_min         0
Bilbao_temp_max            0
Seville_temp_min           0
Madrid_temp                0
Madrid_temp_min            0
load_shortfall_3h          0
dtype: int64

In [6]:
# Check for column object type

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 49 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            8763 non-null   int64
 1   time                  8763 non-null   datetime64[ns]
 2   Madrid_wind_speed     8763 non-null   float64
 3   Valencia_wind_deg     8763 non-null   object
 4   Bilbao_rain_1h        8763 non-null   float64
 5   Valencia_wind_speed   8763 non-null   float64
 6   Seville_humidity      8763 non-null   float64
 7   Madrid_humidity       8763 non-null   float64
 8   Bilbao_clouds_all     8763 non-null   float64
 9   Bilbao_wind_speed     8763 non-null   float64
 10  Seville_clouds_all    8763 non-null   float64
 11  Bilbao_wind_deg       8763 non-null   float64
 12  Barcelona_wind_speed  8763 non-null   float64
 13  Barcelona_wind_deg    8763 non-null   float64
 14  Madrid_clouds_all     8763 non-null   float64
 15  Seville_wind_speed    8763 non-null   float64
 16  Barcelona_rain_1h     8763 non-null   float64
 17  Seville_pressure      8763 non-null   object
 18  Seville_rain_1h       8763 non-null   float64
 19  Bilbao_snow_3h        8763 non-null   float64
 20  Barcelona_pressure    8763 non-null   float64
 21  Seville_rain_3h       8763 non-null   float64
 22  Madrid_rain_1h        8763 non-null   float64
 23  Barcelona_rain_3h     8763 non-null   float64
 24  Valencia_snow_3h      8763 non-null   float64
 25  Madrid_weather_id     8763 non-null   float64
 26  Barcelona_weather_id  8763 non-null   float64
 27  Bilbao_pressure       8763 non-null   float64
 28  Seville_weather_id    8763 non-null   float64
 29  Valencia_pressure     6695 non-null   float64
 30  Seville_temp_max      8763 non-null   float64
 31  Madrid_pressure       8763 non-null   float64
 32  Valencia_temp_max     8763 non-null   float64
 33  Valencia_temp         8763 non-null   float64
 34  Bilbao_weather_id     8763 non-null   float64
 35  Seville_temp          8763 non-null   float64
 36  Valencia_humidity     8763 non-null   float64
 37  Valencia_temp_min     8763 non-null   float64
 38  Barcelona_temp_max    8763 non-null   float64
 39  Madrid_temp_max       8763 non-null   float64
 40  Barcelona_temp        8763 non-null   float64
 41  Bilbao_temp_min       8763 non-null   float64
 42  Bilbao_temp           8763 non-null   float64
 43  Barcelona_temp_min    8763 non-null   float64
 44  Bilbao_temp_max       8763 non-null   float64
 45  Seville_temp_min      8763 non-null   float64
 46  Madrid_temp           8763 non-null   float64
 47  Madrid_temp_min       8763 non-null   float64
 48  load_shortfall_3h     8763 non-null   float64
dtypes: datetime64[ns](1), float64(45), int64(1), object(2)
memory usage: 3.3+ MB

### plot relevant feature interactions

In [7]:
# Create a scatterplot of all numerical columns against the dependent variable

In [10]:
# evaluate correlation

In [11]:
# have a look at feature distributions

<a id="four"></a>
## 4. Data Engineering
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Data engineering ⚡ |
| :--------------------------- |
| In this section you are required to: clean the dataset, and possibly create new features - as identified in the EDA phase. |

---

In [12]:
def add_datepart (df, fldname):
    fld = df[fldname]
    targ_pre = re.sub('[Dd]ates','', fldname)
    for n in ("Year", "Month", "Week", "Day", "Hour", "Dayofweek", "Dayofyear", "Is_month_end", "Is_month_start", 
              "Is_quarter_end", "Is_quarter_start", "Is_year_end", "Is_year_start"):
        df[targ_pre+n] = getattr(fld.dt, n.lower())
    df[targ_pre+'Elapsed' ] = (fld - fld.min()).dt.days
    df.drop(fldname, axis=1, inplace=True)
    return df

In [13]:
df1= add_datepart(df.copy(), 'time')
dftest1= add_datepart(dftest.copy(), 'time')

In [14]:
def conditional_impute(input_df, choice='mean'):
    # your code here
    
    if choice == 'mean':
        input_df['Valencia_pressure']= input_df.groupby(['timeYear', 'timeMonth'])['Valencia_pressure'].apply(lambda x: x.fillna(round(x.mean(), 1)))
        return input_df
    elif choice== 'median':
        input_df['Valencia_pressure']= input_df.groupby(['timeYear', 'timeMonth'])['Valencia_pressure'].apply(lambda x: x.fillna(x.median()))
        return input_df
    else:
        raise ValueError

In [15]:
df1[(df1['timeHour']==0) & (df1['timeIs_year_start']==1)]

,Unnamed: 0,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,Seville_clouds_all,...,timeHour,timeDayofweek,timeDayofyear,timeIs_month_end,timeIs_month_start,timeIs_quarter_end,timeIs_quarter_start,timeIs_year_end,timeIs_year_start,timeElapsed
2915,2915,1.0,level_6,0.6,1.666667,98.666667,98.0,13.333333,0.333333,84.000000,...,0,4,1,False,True,False,True,False,True,364
5843,5843,1.0,level_4,0.0,0.666667,91.000000,92.0,0.000000,0.333333,2.666667,...,0,6,1,False,True,False,True,False,True,730

In [16]:
dftest1[(dftest1['timeHour']==0) & (dftest1['timeIs_year_start']==1)]

,Unnamed: 0,Madrid_wind_speed,Valencia_wind_deg,Bilbao_rain_1h,Valencia_wind_speed,Seville_humidity,Madrid_humidity,Bilbao_clouds_all,Bilbao_wind_speed,Seville_clouds_all,...,timeHour,timeDayofweek,timeDayofyear,timeIs_month_end,timeIs_month_start,timeIs_quarter_end,timeIs_quarter_start,timeIs_year_end,timeIs_year_start,timeElapsed
0,8763,5.0,level_8,0.0,5.0,87.0,71.333333,20.0,3.0,0.0,...,0,0,1,False,True,False,True,False,True,0

In [17]:
# remove missing values/ features
 
df1_mean= conditional_impute(df1, 'mean') #df.isna filled with mean of year and quarter readings 
df1_median= conditional_impute(df1, 'median') #df.isna filled with median of year and quarter readings 
dftest1_mean= conditional_impute(dftest1, 'mean')

### create new features

### engineer existing features

In [18]:
# look at unique values in object df

print(df1_mean.Valencia_wind_deg.unique())
print(df1_mean.Seville_pressure.unique())

['level_5' 'level_10' 'level_9' 'level_8' 'level_7' 'level_6' 'level_4'
 'level_3' 'level_1' 'level_2']
['sp25' 'sp23' 'sp24' 'sp21' 'sp16' 'sp9' 'sp15' 'sp19' 'sp22' 'sp11'
 'sp8' 'sp4' 'sp6' 'sp13' 'sp17' 'sp20' 'sp18' 'sp14' 'sp12' 'sp5' 'sp10'
 'sp7' 'sp3' 'sp2' 'sp1']

In [19]:
# converting 

df1_mean['Valencia_wind_deg']= df1_mean["Valencia_wind_deg"].str.extract("(\d+)").astype(int)
df1_mean["Seville_pressure"] = df1_mean["Seville_pressure"].str.extract("(\d+)").astype(int)

In [20]:
dftest1_mean['Valencia_wind_deg']= dftest1_mean["Valencia_wind_deg"].str.extract("(\d+)").astype(int)
dftest1_mean["Seville_pressure"] = dftest1_mean["Seville_pressure"].str.extract("(\d+)").astype(int)

In [21]:
df1_mean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 62 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            8763 non-null   int64
 1   Madrid_wind_speed     8763 non-null   float64
 2   Valencia_wind_deg     8763 non-null   int64
 3   Bilbao_rain_1h        8763 non-null   float64
 4   Valencia_wind_speed   8763 non-null   float64
 5   Seville_humidity      8763 non-null   float64
 6   Madrid_humidity       8763 non-null   float64
 7   Bilbao_clouds_all     8763 non-null   float64
 8   Bilbao_wind_speed     8763 non-null   float64
 9   Seville_clouds_all    8763 non-null   float64
 10  Bilbao_wind_deg       8763 non-null   float64
 11  Barcelona_wind_speed  8763 non-null   float64
 12  Barcelona_wind_deg    8763 non-null   float64
 13  Madrid_clouds_all     8763 non-null   float64
 14  Seville_wind_speed    8763 non-null   float64
 15  Barcelona_rain_1h     8763 non-null   float64
 16  Seville_pressure      8763 non-null   int64
 17  Seville_rain_1h       8763 non-null   float64
 18  Bilbao_snow_3h        8763 non-null   float64
 19  Barcelona_pressure    8763 non-null   float64
 20  Seville_rain_3h       8763 non-null   float64
 21  Madrid_rain_1h        8763 non-null   float64
 22  Barcelona_rain_3h     8763 non-null   float64
 23  Valencia_snow_3h      8763 non-null   float64
 24  Madrid_weather_id     8763 non-null   float64
 25  Barcelona_weather_id  8763 non-null   float64
 26  Bilbao_pressure       8763 non-null   float64
 27  Seville_weather_id    8763 non-null   float64
 28  Valencia_pressure     8763 non-null   float64
 29  Seville_temp_max      8763 non-null   float64
 30  Madrid_pressure       8763 non-null   float64
 31  Valencia_temp_max     8763 non-null   float64
 32  Valencia_temp         8763 non-null   float64
 33  Bilbao_weather_id     8763 non-null   float64
 34  Seville_temp          8763 non-null   float64
 35  Valencia_humidity     8763 non-null   float64
 36  Valencia_temp_min     8763 non-null   float64
 37  Barcelona_temp_max    8763 non-null   float64
 38  Madrid_temp_max       8763 non-null   float64
 39  Barcelona_temp        8763 non-null   float64
 40  Bilbao_temp_min       8763 non-null   float64
 41  Bilbao_temp           8763 non-null   float64
 42  Barcelona_temp_min    8763 non-null   float64
 43  Bilbao_temp_max       8763 non-null   float64
 44  Seville_temp_min      8763 non-null   float64
 45  Madrid_temp           8763 non-null   float64
 46  Madrid_temp_min       8763 non-null   float64
 47  load_shortfall_3h     8763 non-null   float64
 48  timeYear              8763 non-null   int64
 49  timeMonth             8763 non-null   int64
 50  timeWeek              8763 non-null   int64
 51  timeDay               8763 non-null   int64
 52  timeHour              8763 non-null   int64
 53  timeDayofweek         8763 non-null   int64
 54  timeDayofyear         8763 non-null   int64
 55  timeIs_month_end      8763 non-null   bool
 56  timeIs_month_start    8763 non-null   bool
 57  timeIs_quarter_end    8763 non-null   bool
 58  timeIs_quarter_start  8763 non-null   bool
 59  timeIs_year_end       8763 non-null   bool
 60  timeIs_year_start     8763 non-null   bool
 61  timeElapsed           8763 non-null   int64
dtypes: bool(6), float64(45), int64(11)
memory usage: 3.8 MB

In [22]:
display_all(dftest1_mean.isna().sum())

Unnamed: 0              0
Madrid_wind_speed       0
Valencia_wind_deg       0
Bilbao_rain_1h          0
Valencia_wind_speed     0
Seville_humidity        0
Madrid_humidity         0
Bilbao_clouds_all       0
Bilbao_wind_speed       0
Seville_clouds_all      0
Bilbao_wind_deg         0
Barcelona_wind_speed    0
Barcelona_wind_deg      0
Madrid_clouds_all       0
Seville_wind_speed      0
Barcelona_rain_1h       0
Seville_pressure        0
Seville_rain_1h         0
Bilbao_snow_3h          0
Barcelona_pressure      0
Seville_rain_3h         0
Madrid_rain_1h          0
Barcelona_rain_3h       0
Valencia_snow_3h        0
Madrid_weather_id       0
Barcelona_weather_id    0
Bilbao_pressure         0
Seville_weather_id      0
Valencia_pressure       0
Seville_temp_max        0
Madrid_pressure         0
Valencia_temp_max       0
Valencia_temp           0
Bilbao_weather_id       0
Seville_temp            0
Valencia_humidity       0
Valencia_temp_min       0
Barcelona_temp_max      0
Madrid_temp_max         0
Barcelona_temp          0
Bilbao_temp_min         0
Bilbao_temp             0
Barcelona_temp_min      0
Bilbao_temp_max         0
Seville_temp_min        0
Madrid_temp             0
Madrid_temp_min         0
timeYear                0
timeMonth               0
timeWeek                0
timeDay                 0
timeHour                0
timeDayofweek           0
timeDayofyear           0
timeIs_month_end        0
timeIs_month_start      0
timeIs_quarter_end      0
timeIs_quarter_start    0
timeIs_year_end         0
timeIs_year_start       0
timeElapsed             0
dtype: int64

In [23]:
dftest1_mean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2920 entries, 0 to 2919
Data columns (total 61 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            2920 non-null   int64
 1   Madrid_wind_speed     2920 non-null   float64
 2   Valencia_wind_deg     2920 non-null   int64
 3   Bilbao_rain_1h        2920 non-null   float64
 4   Valencia_wind_speed   2920 non-null   float64
 5   Seville_humidity      2920 non-null   float64
 6   Madrid_humidity       2920 non-null   float64
 7   Bilbao_clouds_all     2920 non-null   float64
 8   Bilbao_wind_speed     2920 non-null   float64
 9   Seville_clouds_all    2920 non-null   float64
 10  Bilbao_wind_deg       2920 non-null   float64
 11  Barcelona_wind_speed  2920 non-null   float64
 12  Barcelona_wind_deg    2920 non-null   float64
 13  Madrid_clouds_all     2920 non-null   float64
 14  Seville_wind_speed    2920 non-null   float64
 15  Barcelona_rain_1h     2920 non-null   float64
 16  Seville_pressure      2920 non-null   int64
 17  Seville_rain_1h       2920 non-null   float64
 18  Bilbao_snow_3h        2920 non-null   int64
 19  Barcelona_pressure    2920 non-null   float64
 20  Seville_rain_3h       2920 non-null   float64
 21  Madrid_rain_1h        2920 non-null   float64
 22  Barcelona_rain_3h     2920 non-null   float64
 23  Valencia_snow_3h      2920 non-null   int64
 24  Madrid_weather_id     2920 non-null   float64
 25  Barcelona_weather_id  2920 non-null   float64
 26  Bilbao_pressure       2920 non-null   float64
 27  Seville_weather_id    2920 non-null   float64
 28  Valencia_pressure     2920 non-null   float64
 29  Seville_temp_max      2920 non-null   float64
 30  Madrid_pressure       2920 non-null   float64
 31  Valencia_temp_max     2920 non-null   float64
 32  Valencia_temp         2920 non-null   float64
 33  Bilbao_weather_id     2920 non-null   float64
 34  Seville_temp          2920 non-null   float64
 35  Valencia_humidity     2920 non-null   float64
 36  Valencia_temp_min     2920 non-null   float64
 37  Barcelona_temp_max    2920 non-null   float64
 38  Madrid_temp_max       2920 non-null   float64
 39  Barcelona_temp        2920 non-null   float64
 40  Bilbao_temp_min       2920 non-null   float64
 41  Bilbao_temp           2920 non-null   float64
 42  Barcelona_temp_min    2920 non-null   float64
 43  Bilbao_temp_max       2920 non-null   float64
 44  Seville_temp_min      2920 non-null   float64
 45  Madrid_temp           2920 non-null   float64
 46  Madrid_temp_min       2920 non-null   float64
 47  timeYear              2920 non-null   int64
 48  timeMonth             2920 non-null   int64
 49  timeWeek              2920 non-null   int64
 50  timeDay               2920 non-null   int64
 51  timeHour              2920 non-null   int64
 52  timeDayofweek         2920 non-null   int64
 53  timeDayofyear         2920 non-null   int64
 54  timeIs_month_end      2920 non-null   bool
 55  timeIs_month_start    2920 non-null   bool
 56  timeIs_quarter_end    2920 non-null   bool
 57  timeIs_quarter_start  2920 non-null   bool
 58  timeIs_year_end       2920 non-null   bool
 59  timeIs_year_start     2920 non-null   bool
 60  timeElapsed           2920 non-null   int64
dtypes: bool(6), float64(42), int64(13)
memory usage: 1.2 MB

In [24]:
display_all(df1_mean.corr()['load_shortfall_3h'])

Unnamed: 0              0.192612
Madrid_wind_speed      -0.150981
Valencia_wind_deg      -0.188674
Bilbao_rain_1h         -0.152510
Valencia_wind_speed    -0.142791
Seville_humidity       -0.167290
Madrid_humidity        -0.150536
Bilbao_clouds_all      -0.127293
Bilbao_wind_speed      -0.081602
Seville_clouds_all     -0.091804
Bilbao_wind_deg        -0.120800
Barcelona_wind_speed   -0.103633
Barcelona_wind_deg     -0.116133
Madrid_clouds_all      -0.081623
Seville_wind_speed     -0.048433
Barcelona_rain_1h      -0.056633
Seville_pressure       -0.030434
Seville_rain_1h        -0.031572
Bilbao_snow_3h         -0.031721
Barcelona_pressure     -0.034385
Seville_rain_3h        -0.032945
Madrid_rain_1h         -0.027159
Barcelona_rain_3h      -0.024720
Valencia_snow_3h       -0.021633
Madrid_weather_id       0.030868
Barcelona_weather_id    0.063868
Bilbao_pressure         0.039052
Seville_weather_id      0.061104
Valencia_pressure       0.092574
Seville_temp_max        0.109834
Madrid_pressure         0.092638
Valencia_temp_max       0.144270
Valencia_temp           0.173225
Bilbao_weather_id       0.145875
Seville_temp            0.159343
Valencia_humidity       0.043140
Valencia_temp_min       0.201863
Barcelona_temp_max      0.164734
Madrid_temp_max         0.182548
Barcelona_temp          0.182673
Bilbao_temp_min         0.172920
Bilbao_temp             0.176411
Barcelona_temp_min      0.195984
Bilbao_temp_max         0.180934
Seville_temp_min        0.174718
Madrid_temp             0.186036
Madrid_temp_min         0.174744
load_shortfall_3h       1.000000
timeYear                0.131324
timeMonth               0.199048
timeWeek                0.201080
timeDay                 0.092116
timeHour                0.139285
timeDayofweek          -0.156510
timeDayofyear           0.205528
timeIs_month_end       -0.026250
timeIs_month_start     -0.060294
timeIs_quarter_end     -0.012524
timeIs_quarter_start   -0.040117
timeIs_year_end        -0.027715
timeIs_year_start      -0.043192
timeElapsed             0.192340
Name: load_shortfall_3h, dtype: float64

In [ ]:
fig, axes= plt.subplots(figsize=(40,20))
sns.heatmap(df1_mean.corr(), annot=True)
plt.show()

<a id="five"></a>
## 5. Modelling
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Modelling ⚡ |
| :--------------------------- |
| In this section, you are required to create one or more regression models that are able to accurately predict the thee hour load shortfall. |

---

In [26]:
# split data
X=df1_mean.copy()

In [27]:
X.timeYear.unique()

array([2015, 2016, 2017])

In [28]:
X_2017=X[X['timeYear']==2017]
X_2016=X[X['timeYear']==2016]
X_2015=X[X['timeYear']==2015]

In [29]:
y_2015= X_2015['load_shortfall_3h']
y_2016= X_2016['load_shortfall_3h']
y_2017= X_2017['load_shortfall_3h']

In [30]:
XU_2015= X_2015.copy().drop('load_shortfall_3h', axis=1)
XU_2016= X_2016.copy().drop('load_shortfall_3h', axis=1)
XU_2017= X_2017.copy().drop('load_shortfall_3h', axis=1)

In [31]:
XU15_train, XU15_test, y15_train, y15_test=train_test_split(XU_2015,
                                                            y_2015, 
                                                            test_size=0.2, 
                                                            shuffle=False)

In [32]:
XU16_train, XU16_test, y16_train, y16_test=train_test_split(XU_2016,
                                                            y_2016, 
                                                            test_size=0.2, 
                                                            shuffle=False)

In [33]:
XU17_train, XU17_test, y17_train, y17_test=train_test_split(XU_2017,
                                                            y_2017, 
                                                            test_size=0.2, 
                                                            shuffle=False)

In [34]:
# create targets and features dataset
RF15= RandomForestRegressor(n_jobs=-1)
RF16= RandomForestRegressor(n_jobs=-1)
RF17= RandomForestRegressor(n_jobs=-1)

In [35]:
# fit model
RF15.fit(XU15_train, y15_train)
RF16.fit(XU16_train, y16_train)
RF17.fit(XU17_train, y17_train)

RandomForestRegressor(n_jobs=-1)

RandomForestRegressor(n_jobs=-1)

RandomForestRegressor(n_jobs=-1)

In [36]:
ab=RF15.score(XU15_train, y15_train)
bc=RF16.score(XU16_train, y16_train)
cd=RF17.score(XU17_train, y17_train)

In [37]:
print(ab)
print(bc)
print(cd)

0.965276883685746
0.9686651716315244
0.9541110049891507

In [39]:
y_pred15= RF15.predict(XU15_test)
y_pred16= RF16.predict(XU16_test)
y_pred17= RF17.predict(XU17_test)

In [ ]:
y_pred15= RF15.predict(XU15_test)
y_pred16= RF16.predict(XU16_test)
y_pred17= RF17.predict(XU17_test)

In [40]:
kag_pred15= RF15.predict(dftest1_mean)
kag_pred16= RF16.predict(dftest1_mean)
kag_pred17= RF17.predict(dftest1_mean)

In [41]:
kag_pred17

array([11684.04666667,  9472.86666667,  9383.06333333, ...,
       12408.09666667, 12242.88333333, 12604.81666667])

In [42]:
kag_pred16

array([ 6768.7       ,   659.80333333,   748.45333333, ...,
       12295.10666667, 12768.18333333, 12770.27166667])

In [43]:
kag_pred15

array([ 9059.38666667,  7936.87666667,  7812.99      , ...,
       12913.79166667, 12695.33666667, 11504.91666667])

In [65]:
kag_pred=(kag_pred17+kag_pred16)/2

In [66]:
kag_pred

array([ 9226.37333333,  5066.335     ,  5065.75833333, ...,
       12351.60166667, 12505.53333333, 12687.54416667])

In [67]:
kag_pred_df= pd.DataFrame(kag_pred16, columns=['load_shortfall_3h'])

In [68]:
kag_hour= dftest['time']

In [69]:
kag_pred_df

      load_shortfall_3h
0           6768.700000
1            659.803333
2            748.453333
3           1786.116667
4           3780.630000
...                 ...
2915       12195.776667
2916       12331.133333
2917       12295.106667
2918       12768.183333
2919       12770.271667

[2920 rows x 1 columns]

In [70]:
submit= pd.concat([kag_hour, kag_pred_df], axis=1)

In [71]:
submit.head()

                 time  load_shortfall_3h
0 2018-01-01 00:00:00        6768.700000
1 2018-01-01 03:00:00         659.803333
2 2018-01-01 06:00:00         748.453333
3 2018-01-01 09:00:00        1786.116667
4 2018-01-01 12:00:00        3780.630000

In [72]:
submit.to_csv('submit_rf4.csv', index=False)

In [56]:
submit[(submit[submit.columns] < 0).any(axis=1)][['load_shortfall_3h']].T

Empty DataFrame
Columns: []
Index: [load_shortfall_3h]

In [ ]:
# Create figure and axes
f, ax = plt.subplots(figsize=(5,5))

# Plot on axes
ax.set_title('Actual vs Predicted')
ax.set_xlabel('Actual')
ax.set_ylabel('Predicted')
plt.scatter(X_test['timeHour'], y_test)
plt.show()

In [ ]:
# create one or more ML model

In [ ]:
# evaluate one or more ML models

<a id="six"></a>
## 6. Model Performance
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model performance ⚡ |
| :--------------------------- |
| In this section you are required to compare the relative performance of the various trained ML models on a holdout dataset and comment on what model is the best and why. |

---

In [ ]:
# Compare model performance

In [ ]:
# Choose best model and motivate why it is the best choice

<a id="seven"></a>
## 7. Model Explanations
<a class="anchor" id="1.1"></a>
<a href=#cont>Back to Table of Contents</a>

---
    
| ⚡ Description: Model explanation ⚡ |
| :--------------------------- |
| In this section, you are required to discuss how the best performing model works in a simple way so that both technical and non-technical stakeholders can grasp the intuition behind the model's inner workings. |

---

In [ ]:
# discuss chosen methods logic